.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureImg {
  height: 200px;
  width: 200px;
}

.buttons {
  margin-top: 1rem;
}

.buttons .button--primary:hover,
.buttons .button--primary:active {
  background-color: #fff;
  color: #2e8555;
  border: 1px solid #2e8555;
}
